// Colors
$black: #000000;
$darkBlue: #14213d;
$orange: #eb6707;
$greyBlue: hsl(233, 8%, 62%);
$lightGreyBlue: hsl(220, 16%, 96%);
$veryLightGrey: hsl(0, 0%, 90%);
$grey: hsl(0, 0%, 60%);
$white: hsl(0, 0%, 100%);

// Font sizes
$font-smal: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem; // 20px
$font-xlg: 2.8rem; // 45px
