.hero {
  &__image {
    background-image: url("/images/1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;
  }

  &__text {
    text-align: center;

    h1 {
      font-weight: 300;
      font-size: 2.31rem;
      line-height: 1.15;
    }
  }
}
